@model WebAppSystem.Models.Employee

@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>

<h4>Employee Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="ContractId" />
            
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfBirth" class="control-label"></label>
                <input asp-for="CountryOfBirth" class="form-control" />
                <span asp-validation-for="CountryOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhone" class="control-label"></label>
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship" class="control-label"></label>
                <input asp-for="Relationship" class="form-control" />
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentProgress" class="control-label"></label>
                <select asp-for="EmploymentProgress" class="form-control" asp-items="ViewBag.EmploymentProgress"></select>
                <span asp-validation-for="EmploymentProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatus" class="control-label"></label>
                <select asp-for="AccountStatus" class="form-control" asp-items="ViewBag.AccountStatus"></select>
                <span asp-validation-for="AccountStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <select asp-for="EmploymentStatus" class="form-control" asp-items="ViewBag.EmploymentStatus"></select>
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <select asp-for="IsActive" class="form-control" asp-items="ViewBag.IsActive"></select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label">Position</label>
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaygradeId" class="control-label">Pay Grade</label>
                <select asp-for="PaygradeId" class="form-control" asp-items="ViewBag.PaygradeId"></select>
                <span asp-validation-for="PaygradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxformId" class="control-label">Tax Form</label>
                <select asp-for="TaxformId" class="form-control" asp-items="ViewBag.TaxformId"></select>
                <span asp-validation-for="TaxformId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label">Manager</label>
                <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryTypeId" class="control-label">Salary Type</label>
                <select asp-for="SalaryTypeId" class="form-control" asp-items="ViewBag.SalaryTypeId"></select>
                <span asp-validation-for="SalaryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
